* {
	box-sizing: border-box;
	margin: 10px;
}
body {
	padding-left: 20px;
	background: #99bbff;
}
img {
	max-width: 100%;
	max-height: 60vh;
	display:block;
	margin: auto;
}
.details {
	color: blue;
	font-size: 12pt;
	display: block;
	margin: auto;
	text-align: center;

}
.hourCard {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	justify-content: space-around;
	width: 10.5%;
	font-size: 12pt;
}

.dayCard {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	justify-content: space-around;
	width: 10.5%;
	font-size: 12pt;
}
.precipProb {
	color: blue;
}
.forecastViewType {
	font-size: 15pt;
	text-align: center;
}


.high {
	color: red;
}
.low {
	color: black;
}
.hourSummary {
	padding-bottom: 60px;
}
.daySummary {
	font-size: 10pt;
}
#inputBox {
	width:40%;
	display: block;
	margin: auto;
	text-align: center;
	font-size: 20pt
}
#nav-buttons {
	display: block;
	margin: auto;
	text-align: center
}
button {
	font-size: 13pt;
}
.selectedCity {
	text-align: center;
}
